.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;

  margin-top: 8px;
  display: block;
  width: 100%;
  padding: 15px 20px;
}

.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

#name::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  background-color: #1878dc;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 32px;
}

.form__checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin: 0;
}

.form__checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
}