.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 215px;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  gap: 40px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipes__iframe {
  width: 489px;
  height: 273px;
}

.recipes__video-caption {
  color: #ffffff;
  margin-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}